<nav class="navbar" role="navigation">
  <div class="nav-inner">

    <a class="nav-logo" routerLink="/">
      <div class="logo-icon">CT</div>
      <span class="logo-text">CafeTec</span>
      <span class="logo-badge">APP</span>
    </a>

    <div class="nav-right">
      <div class="nav-user">
        <div class="avatar">{{ iniciales() }}</div>
        <div class="user-info">
          <span class="user-name">{{ nombreCompleto() }}</span>
          <span class="user-role">{{ rol() }}</span>
        </div>
      </div>
      <button class="btn-logout" (click)="logout()">⏻ Salir</button>
    </div>

  </div>
</nav>